<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New customer</title>
</head>
<body>

<form th:method="POST" th:action="@{/customers}" th:object="${customer}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="tel">Enter tel: </label>
    <input type="text" th:field="*{tel}" id="tel"/>
    <div style="color:red" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">Tel Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>